<!DOCTYPE html>
<html class="" lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- others css -->
    <link rel="stylesheet" href="../static/css/default-css.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/select-dashboard.css">

</head>

<body onload="createTiles()">

    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->

    <!-- page container area start -->
    <div class="page-container" style="padding-left: 0;">

        <!-- main content area start -->
        <div class="main-content">

            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Choose the dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/homepage">Home</a></li>
                                <li><span>Index</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 clearfix ">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
                                Hi {{ current_user.name }}{{ auth_token }}!
                            </h4>

                            <!--dropdown icon start-->
                            <svg id="dropdown-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                                height="20" viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#ffffff">
                                        <g id="surface1">
                                            <path d="M13.76,58.48l72.24,75.68l72.24,-75.68z"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <!--dropwodn icon ends-->

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="container tile-container">
                    <div class="row" id="contentList">
                    </div>
                </div>
            </div>
            <!-- main content area end -->

        </div>
        <!-- page container area end -->
        <script src="../static/js/vendor/jquery-3.4.1.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/metisMenu.min.js"></script>
        <script src="../static/js/jquery.slimscroll.min.js"></script>
        <script src="../static/js/scripts.js"></script>

        <!-- Custom scripts -->
    <script type="text/javascript" src="../static/js/mainScript.js"></script>

</body>

</html>